@charset "UTF-8";
@font-face{ 
    font-family:'BareunDotum1';
    src:url(../fonts/BareunDotum1.woff);
}

/*common, reset =============================*/
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
body{font-family: 'Nanum Gothic', sans-serif;}
button{outline: none; cursor: pointer;}
.wrap{max-width:1600px; height: auto; margin:0 auto; position: relative;  }
.blind{font-size: 0; position: absolute; left:-9999px;}
.wrap h3{font-size: 2em; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; color:#3a1d1c; padding-top: 80px;}

/* icon =============================*/

.icon{
  display: inline-block;
  background: url(../img/sprite-pc.png) no-repeat;
}
.icon-logo{
  background-position: 0 0;
  width: 190px; height: 50px;
}



.at3 .wrap .white>p.opacity{opacity: 1;}
.at3 .wrap .white button.hash.left{left:150px; color:#1cb9af; }
.at3 .wrap .white .btn-search.index{z-index: 10;}
.at3 .wrap .white .gray i.rotate{transform: rotate(45deg);transform-origin: center;}
.at4 .wrap .slide.open{animation: open 0.5s; animation-fill-mode:forwards;}
@keyframes open{
    0%{right: -1260px;}
    100%{right: 0%;}
}
.at4 .wrap .slide.close{animation: close 0.5s; animation-fill-mode:forwards;}
@keyframes close{
    0%{right: 0%;}
    100%{right: -1260px;}
}
.at4 .wrap .slide button .arrow-top-l.arrow{width:45%;
    transform:rotate(45deg);
    transform-origin:80% 60%;
    top:20px;}
.at4 .wrap .slide button .arrow-bottom-l.arrow{ width:45%;
    transform:rotate(-45deg);
    transform-origin:80% 60%;
    top:25px;}
/*============메뉴바 시작=================*/
header{
    position: fixed;
    width:100%;
    height:70px;
    background: #f8e000;
    top:0; left: 0;
    z-index: 10;
}
h1{
  position: absolute;
  width: 20%;
  text-align: center;
  padding-top: 10px;
}
header nav{
  margin-left:20%;
}
header nav ul li{
  float: left; width: 25%;
  height: 60px;
}
header nav ul li a{
  display: block;
  text-align: center;
  line-height: 60px;
  color:#3a1d1c;
  font-size: 1.45em;
  font-weight: bold;
  font-family: 'BareunDotum1', sans-serif;
    text-decoration: none;
}

header nav ul li a.active{background: #3a1d1c; color:#f8e000;}
header nav ul li:hover{text-decoration: underline rgba(58, 29, 28, 0.7); text-underline-position: under;   }

header nav ul li a .num{display: none;}

/*============section 시작=================*/
#sec1, .at1,.at2,.at3,.at4,#sec3,#sec4{
  height: calc(100vh - 70px);
  position: relative;
  top:70px;
}

/*============section1 시작=================*/
.sec1 {
    position: relative;
/*    background: #F9F5E8;*/
    background: #fbf7ee;
    /* background: url(../img/StockSnap_LMTWTJPZFB.jpg);
    background-size: cover; */
}
.sec1 .logo{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/pc.png) -10px -10px;
}
.sec1 .wrap{
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec1 ul li{
    padding: 30px;
    box-sizing: border-box; position: absolute;
    border-color: #dedede;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    transition: all 250ms ease-out;

}

.sec1 ul li:hover{ border-color: #dedede;
 box-shadow: 15px 15px 10px -10px rgba(31, 31, 31, 0.5);
}


.sec1 ul li:nth-child(1){
  width: 500px;
  height: 200px;
  background: #ff8c8b;
}
.sec1 ul li:nth-child(2){
  width: 200px;
  height: 500px;
  background: #60c0ae;
  right:0;
}
.sec1 ul li:nth-child(3){
  width: 500px;
  height: 200px;
  background: #b7e3e4;
  bottom:0; right:0;
}
.sec1 ul li:nth-child(4){
  width: 200px;
  height: 500px;
  background: #f3cadd;
  bottom:0;
}
.sec1 ul li:nth-child(1):hover{background: #e54b4b;}
.sec1 ul li:nth-child(2):hover{background: #177c80;}
.sec1 ul li:nth-child(3):hover{background: #005397;}
.sec1 ul li:nth-child(4):hover{background: #9257a8;}
.sec1 ul li a{display: block; height: 100%;}
.sec1 ul li span{
  color: white; font-size: 30px;
  font-weight: 600;
  position: absolute;

}
.sec1 ul li a{position: relative;}
/*
.sec1 ul li:nth-child(1) a span{}
.sec1 ul li:nth-child(2) a span{ right: 0px;}
.sec1 ul li:nth-child(3) a span{right: 0;bottom: 0;}
.sec1 ul li:nth-child(4) a span{bottom: 0;}
*/

.sec1 ul li a span{transition: all 0.7s;}
.sec1 ul li a .pic{ width:140px; height:140px; position: absolute;}
.sec1 ul li:nth-child(1) a span{right: 0; bottom: 0;}
.sec1 ul li:nth-child(2) a span{ left:0; bottom:0;}
.sec1 ul li:nth-child(3) a span{left:0; top:0;}
.sec1 ul li:nth-child(4) a span{right: 0; top: 0;}

.sec1 ul li:nth-child(1) a .pic{ left:0; top:0;}
.sec1 ul li:nth-child(2) a .pic{left:0; top:0;}
.sec1 ul li:nth-child(3) a .pic{left:67%; }
.sec1 ul li:nth-child(4) a .pic{ top:67%;}


.sec1 .emo{position: absolute; right:0; bottom:-1%;}

.sec1-popup{
  position: fixed; width:100%; height: 100%;
    top:0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;
}
.sec1-popup .popup-body{
  position: absolute;
  background: white;
  max-width: 1150px; min-height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box; padding: 120px 80px;

}
.sec1-popup .popup-body h3{font-size: 30px;  margin-bottom: 50px; font-weight: 800;}
.sec1-popup .popup-body .contents{max-width: 710px;}
.sec1-popup .popup-body .contents img{width: 100%;  margin-bottom: 30px;}
.sec1-popup .popup-body .contents p{font-size: 18px; text-align: center; line-height: 26px; font-weight: 600;}
.sec1-popup .popup-body .close{position: absolute; right:80px; top:120px; color:#f8e000; font-size: 25px;}

/*==============section1끝====================*/
/*==============section2시작====================*/
/*
#sec2{position: relative;top:70px;}
#sec2 article{position: relative; top:0;}
*/
.at1{
/*    background:#FCF2C3;*/
    background:#fbf7ee;
}
.at2{
/*    background:#FEE49C;*/
    background:#fbf7ee;
}
.at3{
/*    background:#FCD18B;*/
    background:#fbf7ee;
}
.at4{
/*    background:#fac97a;*/
    background:#fbf7ee;
}


/*==============article1시작====================*/
.at1 .wrap .text{ line-height: 24px; position: absolute; top:80px; right:100px; font-size:17px; width:50%; }
.at1 .wrap .emo{position: absolute; right: 0; top:0;}

.at1 .wrap .icon-rank{

    margin-top:40px;
}
.at1 .wrap .icon-rank h4{
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif; color:#3a1d1c;
}

.at1 .wrap .icon-rank .swiper-container {
      width: 100%;
      height:350px;
    }
.at1 .wrap .icon-rank .swiper-slide {

      text-align: center;
      font-size: 18px;
/*     background: #fff;*/
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.at1 .wrap .icon-rank .swiper-slide .iconW{
    width:200px;
    height:300px;
    text-align: center;
}
.at1 .wrap .icon-rank .swiper-slide .iconW .cir_n
{
    width:200px;
    height: 30px;
    border: 0px solid red;
    position: absolute;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    clear: both;
    font-weight: 600;
    font-size: 20px;
    float: left;
}
.at1 .wrap .icon-rank .swiper-slide .iconW .circle{
    width:200px;
    height:200px;
    border: 3px solid #f8e000;
    border-radius: 50%;
    clear: both;
    overflow: hidden;
}
.at1 .wrap .icon-rank .swiper-slide .iconW .circle img{
    width:100%;

}
.at1 .wrap .icon-rank .swiper-slide .iconW a{
    display: block;
    color:#3a1d1c;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.at1 .wrap .icon-rank .swiper-slide .iconW a:hover{
    text-decoration: underline;
    color: black;
}
.at1 .wrap .icon-rank .swiper-button-next,.at1 .wrap .icon-rank .swiper-button-prev {
    background-image: none;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 34px;
    margin-top: 40px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2em;
    color:  #f8e000;

}

.at1 .wrap .icon-rank .swiper-button-prev, .swiper-container-rtl .swiper-button-next {

    left: 10px;
    right: auto;
}
.at1 .wrap .icon-rank .swiper-button-next, .swiper-container-rtl .swiper-button-prev {

    right: 10px;
    left: auto;
}

.at1 .wrap .icon-rank .swiper-button-next.swiper-button-disabled,.at1 .wrap .icon-rank  .swiper-button-prev.swiper-button-disabled{
      opacity: 0;
    }
.at1 .wrap .icon_style{
    position: relative;
    top:-10px;
}
.at1 .wrap .icon_style .top{
    margin-bottom: 20px;
    width:100%;
    height:50px;
}

.at1 .wrap .icon_style .top h4{
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif; color:#3a1d1c;
}
.at1 .wrap .icon_style .top a{position:absolute; top:30px;right:30px; color:#3a1d1c; }
.at1 .wrap .icon_style .style_list{width:100%; margin-top: 10px; overflow: hidden;}
.at1 .wrap .icon_style .style_list .box{width:20%; height: 210px;  float: left; margin-right: 6.65%; box-sizing: border-box; padding: 1.8%; position: relative; transition: all 0.5s;}

.at1 .wrap .icon_style .style_list li:nth-child(1) .box{border: 6px solid #32b67a;}
.at1 .wrap .icon_style .style_list li:nth-child(2) .box{border: 6px solid #0abcd6;}
.at1 .wrap .icon_style .style_list li:nth-child(3) .box{border: 6px solid  rgb(255,165,96);}
.at1 .wrap .icon_style .style_list li:nth-child(4) .box{border: 6px solid rgb(254,161,161); margin-right: 0px;}

.at1 .wrap .icon_style .style_list li:nth-child(1) .box:hover{background:  #32b67a;}
.at1 .wrap .icon_style .style_list li:nth-child(2) .box:hover{background:  #0abcd6;}
.at1 .wrap .icon_style .style_list li:nth-child(3) .box:hover{background: rgb(255,165,96);}
.at1 .wrap .icon_style .style_list li:nth-child(4) .box:hover{background: rgb(254,161,161);}


.at1 .wrap .icon_style .style_list .box a{ display: block; width: 100%;height: 100%;}
.at1 .wrap .icon_style .style_list .box a span{display: block; font-size: 1.5em; font-weight: bold; transition: all 0.5s; }


.at1 .wrap .icon_style .style_list li:nth-child(1) .box a span{ color: #32b67a;}
.at1 .wrap .icon_style .style_list li:nth-child(2) .box a span{color: #0abcd6;}
.at1 .wrap .icon_style .style_list li:nth-child(3) .box a span{ color: rgb(255,165,96);}
.at1 .wrap .icon_style .style_list li:nth-child(4) .box a span{ color: rgb(254,161,161);}

.at1 .wrap .icon_style .style_list li .box:hover a span{color:white;}

.at1 .wrap .icon_style .style_list .box .pic{position: absolute;right:0; width:55%;bottom:0;}
.at1 .wrap .icon_style .style_list .box .pic img{width:100%;}


/*==============article2시작====================*/
.at2 .text{line-height: 24px; position: absolute; top:80px; right:100px; font-size:17px; width: 60%;}

.at2 .wrap .contents{overflow: hidden; position: relative; top:160px; background: rgba(255, 149, 149, 0.65); }

.at2 .wrap  .emo{position: absolute;top:30%; left:30px;z-index: 2;}

.at2 .wrap .contents .pic{width:55%; float: left; position: absolute; top:50%; transform: translateY(-50%);margin-left: 1%;z-index: 3;}
.at2 .wrap .contents .pic img{width: 100%;  }
.at2 .wrap .contents .text-box{width:40%; float: right; }
.at2 .wrap .contents .text-box .group{width:100%; padding: 3%; box-sizing: border-box; overflow: hidden;}
.at2 .wrap .contents .text-box .group h4{font-size: 1.2em;margin-bottom: 20px; }
.at2 .wrap .contents .text-box .group p{margin-bottom: 3%;}
.at2 .wrap .contents .text-box .group a{
  border: 0; width:240px; height:36px;  float: left; background: url(../img/button.png) -5px -4px;cursor: pointer; position: relative; margin: 3%; font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px; font-weight: bold; color:#3a1d1c;
    line-height: 36px; text-align: center;
}
.at2 .wrap .contents .text-box .group i{width:13px; height:15px; background: url(../img/button.png) -10px -85px; display: inline-block; position: absolute; right: 20px; top:10px;}
.at2 .wrap .contents .text-box .group a:hover{
    background: url(../img/button.png) -5px -44px;
}





/*==============article3시작====================*/
.at3 .wrap .white{width:70%; height:80px; background: white; margin: 60px auto;position: relative;}
.at3 .wrap .white .gray{width:100px; height:100%; background: #ccc; float: left; position: relative; text-align: center;}
.at3 .wrap .white .gray i{color: white; font-size: 3.5em; 
    width:50px;
    height: 80px;
   
    line-height: 80px;
    transition: 0.5s;}
.at3 .wrap .white>p{display: inline-block; font-size: 2.5em; text-indent: 100px; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; position: absolute; top:50%; opacity: 0; transform:translateY(-50%); color: #1cb9af;}


.at3 .wrap .white button.hash{position: absolute;  top:50%; transform:translateY(-50%); right: 150px; border: 0; background: none; font-size: 4em; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; cursor: pointer;

}



.at3 .wrap .white .btn-submit{width:110px; height:60px; position: absolute; top:50%; transform: translateY(-50%); right:10px;
background: yellow; box-sizing: border-box;  border-radius: 10px;
font-size: 2em; font-weight: bold; text-align: center; line-height: 60px;  font-family: 'Noto Sans KR', sans-serif;
}
.at3 .wrap .white .btn-search{width:110px; height:60px; position: absolute; top:50%; transform: translateY(-50%); right:10px;
    background: #1cb9af;  box-sizing: border-box; border-radius: 10px; z-index: -1;}
.at3 .wrap .white .btn-search i{ text-align: center; background: url(../img/search1.png);width:40px; height:40px; display: block;position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
.at3 .wrap .white .slide{background: white; position: absolute; top: 80px; width:100%; overflow:hidden; box-sizing: border-box; z-index: 1;}
.at3 .wrap .white .slide .pic{width: 80%; margin: 30px auto;}
.at3 .wrap .white .slide .pic img{width: 100%;}
.at3 .wrap .white .slide>p{text-align: center; padding-bottom: 30px; font-size: 18px;}

.at3 .emo{width:10%;position: absolute; bottom: 0;right: 0; z-index: 0;}
.ani-move{animation: ani-move 30s linear infinite; animation-fill-mode: forwards;}
@keyframes ani-move{
    0%{right:0%;}
    100%{right:100%;}
}

/*==============article4 시작====================*/
.at4 .wrap{overflow: hidden;}
.at4 .wrap .contents{width:60%; overflow: hidden; margin: 70px auto;}
.at4 .wrap .contents img{width:100%;}
.at4 .wrap .contents p.text{font-size: 18px; margin-top: 30px;}
.at4 .wrap .slide{width: 1200px; height: auto; position: absolute;top:70px;  padding: 30px; right: -1260px; background: #eee; border-left: 5px solid #f8e000; z-index: 2;}
.at4 .wrap .slide button{position: absolute; width:50px;height:50px; background:#f8e000;top:0;left:-50px;z-index: 10;
border: 0; padding:  0px; box-sizing: border-box; display: block; cursor: pointer;
}
.at4 .wrap .slide button .bar{
  width:70%;height:5px; background: #ccc; position: absolute;z-index: 2;
  animation:  bling 2s  infinite;
    transition: 1s;
}
.at4 .wrap .slide button:hover .bar{
  background: #1cb9af;
  animation: none;
}

@keyframes bling{
    0% , 100% {
    background: #eee;
  }
  50% {
    background: #1cb9af;
  }
}

.at4 .wrap .slide button .arrow-top-l{top:30%; left:50%; transform: translate(-50%,-50%);}
.at4 .wrap .slide button .arrow-middle-l{top:50%; left:50%; transform: translate(-50%,-50%);}
.at4 .wrap .slide button .arrow-bottom-l{top:70%; left:50%; transform: translate(-50%,-50%);}


.at4 .wrap .slide .swiper-container {
      width: 100%;
      height: 100%;
    }
.at4 .wrap .slide .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.at4 .wrap .slide .swiper-slide img{width:100%;}
.at4 .emo{position: absolute;bottom: 20%; left:10%;}

/*==============section2끝====================*/




/*==============section3시작====================*/
#sec3{background: #fbf7ee;}
#sec3 .wrap .pic{width:55%; margin-top:100px; float: left;}
#sec3 .wrap .pic img{width:100%;}
#sec3 .wrap .text-box{overflow: hidden; margin-top: 200px;padding-left: 100px;}
#sec3 .wrap .text-box p{font-size: 18px;}

#sec3 .wrap .text-box a{
    display: block;
    margin-top:100px;width:240px; height:36px;   background: url(../img/button.png) -5px -4px; border: 0;
    line-height: 36px; text-align: center;
    font-size: 16px; font-weight: bold; color:#3a1d1c;font-family: 'Noto Sans KR', sans-serif; }
#sec3 .wrap .text-box a:hover{background: url(../img/button.png) -5px -44px; }
#sec3 .wrap .text-box a i{text-indent: 10px;}

#sec3 .wrap .emo{position: absolute;right:-5%; bottom:-20%;}
/*==============section3끝====================*/
/*==============section4시작====================*/
#sec4{background: #fbf7ee;}
#sec4 .wrap .slide2{
  position: relative; width:30%; margin-left: 10%; float: left; margin-right: 5%;
  padding: 0 40px; box-sizing: border-box;
}
#sec4 .wrap .slide2 img{width: 100%;}
#sec4 .wrap .ani{font-family: 'Noto Sans KR', sans-serif; font-size: 2.2em; font-weight: bold; line-height: 60px; margin-top: 80px; width:45%; height:60px; float: right;}

#sec4 .wrap .ani .ani-box>span.start{float: left; margin-right: 20px; }
#sec4 .wrap .ani .ani-box>span.end{margin-left: 20px;float: left;}
#sec4 .wrap .ani .ani-box .rolling{float: left; border: 5px solid #f8e000; border-radius: 10px; height: 60px; width:40%; overflow: hidden;}
#sec4 .wrap .ani .rolling>span{ color:#f8e000; float: left; text-indent: 15px;}
#sec4 .wrap .ani .rolling ul{width:90%; }
#sec4 .wrap .ani .rolling ul li{height:60px; text-indent: 15px;}
#sec4 .wrap p{margin-top: 130px;font-size: 18px;width:45%; float: right;}
#sec4 .wrap .slide2 .swiper-container {
      width: 100%;
      height: 100%;

    }

#sec4 .wrap .slide2 .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

#sec4 .wrap .slide2 .swiper-button-next,#sec4 .wrap .slide2  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background:none;
    font-size: 2.5em;
    color:#f8e000;
}
#sec4 .wrap .slide2 .swiper-button-next{right: -20px;}
#sec4 .wrap .slide2 .swiper-button-prev{left: -20px;}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #f8e000;
}

#sec4 .emo{position: absolute; bottom: 0; right: 0; width:16%;}
/*==============section4끝====================*/

footer{
    width:100%;
    height:150px;
    background: #3a1d1c;
    position: relative;
    top:70px;
    color:#f8e000;
    font-size: 18px;
    text-align: center;
    line-height: 150px;
}


/*==============================*/
/*==============================*/
/*==============================*/
/*=============index=================*/
/*==============================*/
/*==============================*/
/*==============================*/
#intro{height:100vh;}
#intro article{
    width: 100%;
    height:100%;

    position: absolute;
}
#intro .intro{
    background: #f8e000;
    z-index: 10;
}
#intro .intro div{
    width:12%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#intro .intro div img{
    width:100%;
}
#intro .talk{
    background: #a7cfe1;overflow: hidden;
}
#intro .talk h3{font-size: 2em; font-weight: bold; padding-top: 80px; font-family: 'Noto Sans KR', sans-serif; color:white; }
#intro .talk .wrap {
    height:100%;
}
#intro .talk .wrap .phone{
    position: relative;
    width:570px;
    height:790px;
    background: url(../img/phone.png);
  position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left:50%;

}
#intro .talk .wrap .phone .talk{position: relative; width:80%; height: 50%; top:15%;margin: 0 auto;}
#intro .talk .wrap .phone .talk ul{width:100%; height:100%;}
#intro .talk .wrap .phone .talk ul li{width:100%; height: 20%; position: relative; display: none;
}
#intro .talk .wrap .phone .talk ul li .pro{width:53px;height:53px; background: url(../img/pro.png);
position: absolute; top:50%; transform: translateY(-50%);
}
#intro .talk .wrap .phone .talk ul li:nth-child(4) .pro{
     background: url(../img/pro.png) 0px -60px;

}
#intro .talk .wrap .phone .talk ul li .balloon{position: absolute;background: white; border-radius: 15px; max-width:50%; top:50%; transform: translateY(-50%);left:16%;}
#intro .talk .wrap .phone .talk ul li .balloon:after{
    content: '';
    border-top: 10px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
    position: absolute;
    top:20%;
    left:-3%;
}
#intro .talk .wrap .phone .talk ul li .balloon p{
    padding: 10px;
    font-weight: bold;
}

#intro .talk .wrap .phone .talk ul li:nth-child(2) .balloon{
    background: #f8e000;
    position: absolute;
    left:70%;

}
#intro .talk .wrap .phone .talk ul li:nth-child(2) .balloon:after{

     content: '';
    border-top: 10px solid transparent;
    border-left: 10px solid #f8e000;
    border-right: 0px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top:20%;
    left:97%;
}
#intro .talk .wrap .phone .text{

    position: absolute;
    top:67%;
    left: 20%;
    width:280px;
    height:60px;
}
#intro .talk .wrap .phone .text p{
    line-height: 60px;
    font-size: 1.5em;
    font-weight: bold;

}
#intro .talk .wrap .phone .text .blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

#intro .talk .wrap .phone .select{
    width:490px;
    height:200px;
    position: absolute;
    bottom: 0;
    left:6.5%;
}
#intro .talk .wrap .phone .select a{
    width:90px;
    height:110px;
    position: absolute;
    top:50%; transform: translateY(-50%);
    border: 0;
    background: none;
    display: none;
}
#intro .talk .wrap .phone .select .more a{
    left:25%;
}
#intro .talk .wrap .phone .select .close a{
    right:25%;
}
#intro .talk .wrap .phone .select a span:hover{
    text-decoration: underline;
}


#intro .talk .wrap .phone .select .more a i{
    background: url(../img/pro.png) -119px 0px;
    width:81px;
    height: 80px;
    margin: 0 auto;
    display: block;
}
#intro .talk .wrap .phone .select .close a i{

    background: url(../img/pro.png) -119px -90px;
    width:81px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
#intro .talk .wrap .phone .select a span{margin-top: 15px; color: black;font-weight: bold; display: block; font-size: 1.1em;text-align: center;}

#intro .popup{position: absolute; top:0; left:0; width:100%; height: 100vh; background: rgba(167, 207, 225, 0.9);}

#intro .popup .close{position: absolute; right:80px; top:120px; color:#f8e000; font-size: 25px;}
#intro .popup .text{width:50%; text-align: center;font-size: 24px; position: absolute; top:50%; transform: translateY(-50%); line-height: 40px; float: left;}

#intro .popup .slide3{width:25%;position: absolute;
right: 10%; transform: translateY(-50%);top:50%}
#intro .popup .slide3 img{width:100%;}
#intro .popup .slide3 .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

#intro .popup .slide3 .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

#intro .popup .slide3 .swiper-button-next,#intro .popup .slide3 .swiper-button-prev {
    background: none;
    color:#f8e000;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    font-size: 2em;
    border: 0;
}
#intro .popup .slide3 .swiper-button-next{right:-10%;}
#intro .popup .slide3 .swiper-button-prev{left:-10%;}
