@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* reset, common =================================================*/
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color:#000; display: inline-block;}
img{max-width: 100%;}
label, span{display: inline-block;}
body{font-family: 'Open Sans', sans-serif;}
.blind{font-size: 0; text-indent: -9999px; position: absolute; left:-9999px;}
.text-overflow{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

/* header ======================================================== */
header{position: fixed; width: 100%; z-index: 1;}
header .title{
  position: relative; height: 70px; background: #007042; z-index: 2;
}
header .title h1{text-align: center; line-height: 70px; color:#fff; font-size: 1.5em;}

#btn-menu{display: none;}

/* 검색 */
form input{width: 180px; height: 30px; border:0; text-indent: 10px; float: left;}
form button{
  width: 30px; height: 30px; border:0; background: #007042; color:#fff;
  font-size: 14px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
form button::after{content: '\f002';}

/* 네비게이션 */
nav{background: #2c2a29;}
/* 1depth메뉴 */
.gnb > li > a{
  position: relative; color: #eee;
  padding: 20px; display: block;
}
.gnb > li > a::after{
  position: absolute; right:20px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f078';
}
.gnb > li:hover > a{background: #000;}
.gnb > li:hover > a::after{content: '\f2d1';}
/* 2depth메뉴 */
.gnb ul{height: 0px; overflow: hidden; padding-left: 20px;}
.gnb ul li a{display: block; line-height: 30px;}
.gnb ul li a sup{font-size: 10px;}
/* 2depth메뉴가 하나씩 독립적으로 나오도록 */
.gnb > li:nth-child(1):hover ul{height: 97px;}
.gnb > li:nth-child(2):hover ul{height: 124px;}
.gnb > li:nth-child(3):hover ul{height: 97px;}
.gnb > li:nth-child(4):hover ul{height: 62px;}
/* 2depth메뉴가 동시에 나오도록 */
/* .gnb:hover ul{height: 124px;} */

.util-nav li a{
  display: block; text-align: right;
  padding: 10px; color:#a5a5a5; font-size: 0.8em;
}

/* 멤버쉽메뉴 */
#btn-member{display: none;}
.btn-member{
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  position: absolute;
  top:20px; right:20px;
  color:#fff; z-index: 3; font-size: 25px;
}
.btn-member::after{content: '\f005';}
#btn-member:checked + .btn-member::after{font-weight: 900;}
#btn-member:checked ~ .member-nav{height: 328px;}
.member-nav{
  width: 100%; height: 0;
  overflow: hidden;
  background: #111; color:#fff;
  transition: height 0.3s;
}
.member-nav .wrap{padding: 20px 0; margin: 0 20px;}
.member-nav .wrap .box{padding: 0 10px;}
.member-nav p{font-size: 12px;}
.member-nav p strong{display: block;}
.member-nav img{width: 85px;}
.member-nav .btn-group{margin-top: 20px;}
.member-nav .btn-group button{
  background: transparent;
  color:#fff; border:1px solid #fff; padding: 10px;
}
.member-nav .btn-group button:hover{background: #fff; color:#111;}
.member-nav .wrap > div:nth-child(1){text-align: center;}
.member-nav > div:nth-child(2) img{padding-top: 30px;}

/* section ======================================================= */

/* 신제품광고 */
.main-ad{position: relative; background: #ebebca;}
.main-ad .emblem{max-width: 300px; margin: auto; padding: 20px; text-align: center;}
.main-ad .emblem a{
  display: inline-block; height: 34px; line-height: 34px;
  text-align: center; color:#829816; border:2px solid #829816;
  border-radius: 3px; padding: 0 10px; margin-top: 20px;
}
.main-ad .emblem a:hover{background:#829816; color:#fff;}
.main-ad .flavor{max-width: 500px; margin: auto; text-align: center;}
.main-ad .flavor img:nth-child(1){margin-left: -60px;}
.main-ad .flavor img:nth-child(2){padding: 20px;}

/* 제품소개 */
.product{
  background: url(img/main2.jpg) no-repeat center fixed;
  background-size: cover;
}
.product .product-info{padding: 20px 0;}
.product .product-info a{color:#fff; padding: 10px; border:2px solid #fff;
  border-radius: 3px;}
.product .product-info .row > div:nth-child(1){text-align: right;}
.product .product-info .row > div:nth-child(1) > *{margin-right: 20px;}
.product .product-info .row > div:nth-child(2){padding: 20px 0;}
.product .product-gallery{background: rgba(255, 255, 255, 0.2); padding: 5px;}
.product .product-gallery h3{text-align: center; color:#fff; padding: 20px 0 10px;}
.product .product-gallery ul li .wrap{
  position: relative; overflow: hidden; margin: 5px;
}
.product .product-gallery ul li img{width: 100%; display: block;}
.product .product-gallery ul li a{
  position: absolute; width: 100%;
  background: rgba(0, 0, 0, 0.8); color:#fff;
  font-size: 12px;
  bottom:-64px; transition: 0.2s;
  /* 아이콘의 공간을 확보하기위한 오른쪽 여백조절 */
  padding: 10px 25px 10px 10px;
  box-sizing: border-box;
}
.product .product-gallery ul li .wrap:hover a{
  bottom:0;
}
.product .product-gallery ul li i{position: absolute; right:10px; bottom:20px; color:#fff;}
.product .product-gallery ul li dl dt,
.product .product-gallery ul li dl dd{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

/* 리저브 */
.reserve{
  position: relative;
  background: url(img/main3.jpg) no-repeat center fixed;
  background-size: cover;
}
.reserve h2{
  text-align: center; color:#fff; padding-top: 20px;
  font-size: 2em;
  text-shadow: 0 0 10px #fff;
}
.reserve h2 sup{font-size: 0.5em;}
.reserve .reserve-info{padding: 20px 0;}
.reserve .reserve-info ul li{text-align: center;}
.reserve .reserve-info ul li .wrap{margin: 10px;}
.reserve .reserve-info ul li .wrap p{color:#fff; text-transform: uppercase;}

.reserve .reserve-store{position: relative; height: 400px;}
.reserve .reserve-store .rotate{
  position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);
  width: 334px; height: 334px;
}
.reserve .reserve-store img{max-width: initial;}
.reserve .reserve-store .rotate > *{
  transition: 0.5s;
  position: absolute; top:50%; left:50%;
  backface-visibility: hidden;
}
.reserve .reserve-store .rotate .front{transform: translate(-50%,-50%) rotateY(0deg);}
.reserve .reserve-store .rotate .back{transform: translate(-50%,-50%) rotateY(180deg);}
.reserve .reserve-store .rotate:hover .front{transform: translate(-50%,-50%) rotateY(180deg);}
.reserve .reserve-store .rotate:hover .back{transform: translate(-50%,-50%) rotateY(0deg);}
.reserve .reserve-store .rotate .back a{
  position: absolute; bottom:50px; left:50%; transform: translateX(-50%);
  border:1px solid #a26e49; color:#a26e49; padding: 10px 20px;
  border-radius: 3px; transition: 0.2s;
}
.reserve .reserve-store .rotate .back a:hover{
  background: #a26e49; color:#fff;
}

/* footer ===================================== */
footer{
  background: #282828; color:#fff; text-align: center;
  padding: 20px 0; font-size: 0.8em;
}
footer .info{padding: 20px 0;}
#btn-banner{display: none;}

/* 미디어쿼리 ===================================================== */
/* 모바일 */
@media (max-width:767px) {
  .btn-menu *, nav, nav *{transition: 0.5s;}
  .btn-menu{
    position: absolute; top:20px; left: 20px;
    height: 30px; width: 25px; z-index: 3;
  }
  .btn-menu span{
    width: 25px; height: 2px;
    background: #fff;
    position: absolute; top:4px;
    transform-origin: -2px 1px;
  }
  .btn-menu span:nth-child(1){bottom:4px; top:auto;}
  .btn-menu span:nth-child(2){top:50%; margin-top: -1px;}
  #btn-menu:checked + label span:nth-child(1){transform: rotate(-45deg);}
  #btn-menu:checked + label span:nth-child(2){opacity: 0;}
  #btn-menu:checked + label span:nth-child(3){transform: rotate(45deg);}

  /* 화면의 왼쪽에 숨겨져 있다가 토글메뉴버튼을 누르면 나오게 한다. */
  nav{
    position: fixed;
    top:0; left:-250px;
    width: 250px; height: 100%;
    background: #2c2a29;
    overflow-y: auto;
  }
  #btn-menu:checked ~ nav{left:0;}
  #btn-menu:checked ~ nav::before{
    content: '';
    position: fixed;
    top:0; left:0; bottom:0; right:0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  form{padding: 90px 20px 20px; border-bottom:1px solid #3e3e3e;}
  .gnb ul li a{color:#aaa; border-bottom:1px solid transparent;}
  .gnb ul li a:hover{border-bottom:1px solid #fff;}

  .member-nav > div:nth-child(1) .wrap{border-bottom: 1px solid #fff;}
  .member-nav .wrap{max-width: 350px; margin: auto;}

  /* section =========================== */
  section{padding-top: 70px;}

  /* footer ============================ */
  footer .banner{position: relative; height: 70px;}
  footer .banner .wrap{max-width: 400px; margin:auto; overflow: hidden;}
  footer .banner .wrap label{position: absolute; bottom:0;}
  footer .banner .wrap label::after{content: '\f04c';}
  footer .banner .wrap ul{
    /* 배너하나의 넓이 * 배너의 갯수 = 총 리스트의 폭 */
    width:1512px;
    animation: banner 10s linear infinite;
  }
  footer .banner .wrap ul li{
    float: left; width:189px;
    box-sizing: border-box;
  }
  footer .banner .wrap ul li:nth-child(1){border:1px solid red;}
  #btn-banner:checked + label::after{content: '\f04b';}
  #btn-banner:checked ~ ul{animation-play-state: paused;}

  @keyframes banner {
    0%{margin-left:0;}
    100%{margin-left:-1134px;}
    /* 배너1개의 폭(189)*보여줄 배너의 갯수 */
  }


}

/* 태블릿 이상 */
@media (min-width:768px) {
  header .title{
    background: #f6f5ef;
    height: auto;
    padding: 20px;
    /* initial 초기화 */
    z-index: initial;
  }
  header .title h1{
    text-align: left; color:#007042;
  }
  header .title h1::before{
    content: '';
    display: inline-block;
    background: url(img/logo.png) no-repeat;
    width: 75px; height:75px;
    vertical-align: middle; padding-right: 10px;
  }

  form{
    position: absolute; top:40px;
    left:50%; transform: translateX(-50%);
    z-index: 3;
  }
  form input{background: #007042; color:#fff;}
  .btn-menu{display: none;}
  .gnb *{transition: height 0.5s, background 0.5s;}
  .gnb > li{float: left; width: 25%;}
  .gnb > li > a{background: #007042;}
  .gnb ul{background: #f6f5ef;}
  .gnb ul li a{color:#000;}
  .gnb ul li a:hover{color:#007042;}

  .util-nav{position: absolute; top:0; right:0;}
  .util-nav li{float: left;}

  .member-nav{position: absolute;}
  .member-nav > div{height: 180px; box-sizing: border-box;}
  .member-nav > div:nth-child(1){border-right: 1px solid #fff;}
  #btn-member:checked ~ .member-nav{height: 175px;}
  .btn-member{top:45px; color:#007042;}

  /* section =============================== */
  section{padding-top: 177px;}
  /* 신제품광고 */
  .main-ad .row{position: relative; height: 400px; width: 700px; margin: auto;}
  .main-ad .emblem{margin: 0; text-align: left;}
  .main-ad .flavor{position: absolute; top:-50px; right:0;}
  .main-ad .flavor img:nth-child(2){position: absolute; bottom:0; right:250px;}

  footer .banner .wrap{max-width: 800px; margin: auto;}
  footer .banner label{display: none;}
  footer .banner .wrap ul{overflow: hidden;}
  footer .banner .wrap ul li{float: left; width: 33.33%;}
  footer .banner .wrap ul li:nth-child(6) ~ li{display: none;}
}
